.root {

}

.label {
  color: var(--text-secondary);
  font-size: 16px;
}

.addButton {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
}

.textInput {
  margin-top: 5px;
}

.addIcon {
  height: 1em;
  margin-right: 5px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.item {
  background-color: var(--bg-tertiary);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .value {
    padding-left: 5px;
  }

  .controls {
    margin-left: auto;

    .deleteButton {
      padding: 5px;
      border-radius: 5px;
      display: flex;

      &:hover {
        background: oklch(from var(--bg-tertiary) .35 c h);
      }

      .icon {
        height: 20px;
      }
    }
  }
}