.root {
  padding: 20px;
}

.tabBody {
  margin-top: 20px;
}

.inlineIcon {
  height: 1em;
  vertical-align: middle;
}

.maxMessageCountInput,
.usageLimitInput,
.modelHandleInput {
  max-width: 400px;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stats {
  font-size: .8em;
  color: var(--text-secondary);
}