.button {
  font-size: 24px;
  border: 2px solid white;
  border-bottom-width: 4px;
  background: rgba(255, 255, 255, .1);
  color: white;
  margin: 5px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;

  &:hover {
    background: rgba(255, 255, 255, .2);
  }

  &:active {
    background: rgba(255, 255, 255, .4);
    border-bottom-width: 2px;
    margin-bottom: 7px;
    transform: translateY(2px);
  }

  &:focus {
    outline: 3px aqua solid;
    outline-offset: 2px;
  }

  &:disabled {
    pointer-events: none;
    border-color: #666;
    color: #aaa;
    opacity: 0.5;
    border-bottom-width: 2px;
    transform: translateY(2px);
  }

  &.lightweight {
    border: none;
    font-size: 18px;
    padding: 5px 15px;
    outline-width: 1px;
    border-radius: 8px;

    &:active {
      transform: none;
      margin-bottom: 5px;
    }
  }
}