.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #757575; // Default background color
  border: 2px solid white;

  &.small {
    width: 32px;
    height: 32px;

    .initials {
      font-size: 14px;
    }
  }

  &.medium {
    width: 48px;
    height: 48px;

    .initials {
      font-size: 18px;
    }
  }

  &.large {
    width: 64px;
    height: 64px;

    .initials {
      font-size: 24px;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  color: white;
  font-weight: bold;
  user-select: none;
}