.root {}

.infoPanel {
  margin-top: 10px;
}

.item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .icon {
    margin-left: 5px;
    height: 1em;
    vertical-align: middle;
  }

  .reasoningIcon {
    margin-left: 5px;
    height: 1em;
    vertical-align: middle;
    color: var(--text-secondary);
  }
}