.userCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 10px;

  .skeletonLoader {
    margin: 10px;
  }

  .avatar {
    margin-right: 10px;
  }

  .divider {
    height: 30px;
    border-right: 1px grey solid;
  }
}