.root {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.label {
  color: var(--text-secondary);
  font-size: 16px;
  margin-bottom: 5px;
}

.disabled {
  opacity: 0.5;
}

.disabled .label {
  color: var(--text-muted);
}

.textAreaWrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.textArea {
  padding: 10px;
  font-size: 16px;
  background: var(--bg-interactive);
  border: 1px solid var(--border-interactive);
  color: inherit;
  border-radius: 5px;
  font-family: inherit;
  min-width: 100px;
  max-width: 100%;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;

  &::-webkit-resizer {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-interactive);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--border-interactive);
    border-radius: 5px;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    background: var(--bg-interactive-active);
    outline-style: solid;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: #666;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &[data-error="true"] {
    border-color: var(--accent-red);
  }

  &[data-resizable="false"] {
    resize: none;
  }
}

.errorMessage {
  color: var(--accent-red);
  font-size: 14px;
  margin-top: 5px;
}

.charCount {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: var(--text-secondary);
  pointer-events: none;
}