.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 15px;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;

  .statusBar {
    grid-row: 1;
    grid-column: 1 / span 1;
    width: 100%;
    box-sizing: border-box;
  }

  .toolPanel {
    grid-row: 2;
    grid-column: 1 / span 1;
    overflow-y: auto;
  }

  .framesView {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
  }
}