.icon {
  fill: white;
  width: 25px;
  height: 25px;
  display: inline-block;
  float: left;
  margin-right: 8px;
}

.infoPanel {
  display: block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  line-height: 25px;
  color: var(--text-primary);
  text-align: start;

  &[data-borderless='true'] {
    border: none;
  }

  &[data-type='error'] {
    background-color: rgba(81, 46, 46, 0.85);
    border-color: rgba(231, 76, 60, 1);

    .icon {
        fill: rgba(231, 76, 60, 1);
    }
  }

  // Not used currently
  &[data-type='warning'] {
    background-color: rgba(92, 59, 0, 0.85);
    border-color: rgba(243, 156, 18, 1);

    .icon {
        fill: rgba(243, 156, 18, 1);
    }
  }

  // Not used currently
  .infoPanel[data-type="neutral"] {
    background-color: rgba(60, 60, 60, 0.85);
    border-color: rgba(120, 120, 120, 1);

    // Assuming no icon
  }

  &[data-type='info'] {
    background-color: rgba(44, 62, 80, 0.85);
    border-color: rgb(52, 152, 219, 1);

    .icon {
        fill: rgba(52, 152, 219, 1);
    }
  }


  &[data-minimalistic='true'] {
    background: none;
    padding: 0;
    line-height: 20px;
    font-size: .9em;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}