.root {
  position: relative;
  height: fit-content;
}

.body {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 4px 10px;
  background: var(--bg-interactive);
  border-radius: 5px;
  border: 1px solid var(--border-interactive);
  box-sizing: border-box;
  min-width: 250px;
  height: 40px;
}

.root.focused .body {
  background: var(--bg-interactive-active);
  outline-style: solid;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.showsSuggestions .body {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.label {
  color: var(--text-secondary);
  font-size: 16px;
  margin-bottom: 5px;
}

.disabled .label {
  color: var(--text-muted);
}

.item {
  padding: 4px 5px 4px 10px;
  background: oklch(from var(--bg-interactive) calc(l + 0.1) c h);
  border-radius: 2px;
  user-select: none;

  .content {
    vertical-align: middle;
  }

  &:first-child {
    margin-left: -5px;
  }

  &.removeConfirmation {
    background: #c0c0c0;
    color: #404040;
  }

  .closeButton {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
    vertical-align: middle;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 0 5px;

    &:hover {
      background: oklch(from var(--bg-interactive-hover) calc(l + 0.1) c h);
    }

    &:active {
      background: oklch(from var(--bg-interactive-active) calc(l + 0.2) c h);
    }
  }

  .closeButtonIcon {}
}

.textInput {
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  min-width: 200px;
  outline: none;
  font-size: inherit;
  flex: 1;
}

.suggestions {
  background: var(--bg-secondary);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

.suggestionItem {
  padding: 10px;
  white-space: nowrap;

  &.focused {
    background: oklch(from var(--bg-secondary) .35 c h);
  }
}
