.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;

  &:focus {
    .checkboxBox {
      outline-style: solid;
    }
  }

  &[data-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.checkboxBox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-interactive);
  background: var(--bg-interactive);
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .checkbox[data-checked="true"] & {
    background: var(--bg-interactive);
  }

  .checkbox:hover:not([data-disabled="true"]) & {
    background: var(--bg-interactive-hover);
  }

  .checkbox:active:not([data-disabled="true"]) & {
    background: var(--bg-interactive-active);
  }
}

.checkIcon {
  fill: white;
  width: 16px;
  height: 16px;
}

.label {
  color: var(--text-primary);
  font-size: 18px;
}