.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: var(--text-secondary);
  font-size: 16px;
}

.input {
  padding: 10px;
  color: var(--text-primary);
  background: var(--bg-interactive);
  border: 1px solid var(--border-interactive);
  border-radius: 5px;
  font-size: inherit;
  height: 40px;
  box-sizing: border-box;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    background: var(--bg-interactive-active);
    outline-style: solid;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: #666;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &[data-error="true"] {
    border-color: var(--accent-red)
  }
}

.errorMessage {
  color: var(--accent-red);
  font-size: 14px;
  margin-top: 5px;
}